@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Baskerville;
	src: url(./fonts/Baskervville-Regular.ttf);
	font-weight: normal;
}

@layer base {
	html {
		font-family: Baskerville, sans-serif;
	}
}

html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	min-height: 100vh;
}
